<!-- footer ejs partial -->
<footer class="container">
  <!-- Footer Links -->

  <!-- Copyright -->
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    &copy; 2022 Graham James Lim. &middot;
    <a href="/disclaimer">View Terms</a>
  </p>
  <!-- Copyright -->
</footer>
