<footer
  class="container-fluid page-footer font-small blue pt-4"
  style="max-width: 600px"
>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Backtester App</h5>
        <p>
          Copyright<br />The works of authorship contained in this website,
          including but not limited to all designs, texts and images, are owned,
          except as otherwise expressly stated, by Graham James Lim (“the
          author”), and may not be copied, reproduced, transmitted, displayed,
          performed, distributed, rented, sublicensed, altered, stored for
          subsequent use or otherwise used in whole or in part in any manner
          without the prior written consent of the author.<br />
          <br />
          No Recommendation or Advice<br /><br />
          None of the information contained here constitutes an offer (or
          solicitation of an offer) to buy or sell any currency, product or
          financial instrument, to make any investment, or to participate in any
          particular trading strategy. The author does not take into account of
          your personal investment objectives, specific investment goals,
          specific needs or financial situation and makes no representation and
          assumes no liability to the accuracy or completeness of the
          information provided here. The information and publications are not
          intended to be and do not constitute financial advice, investment
          advice, trading advice or any other advice or recommendation of any
          sort offered or endorsed by the author. The author also does not
          warrant that such information and publications are accurate, up to
          date or applicable to the circumstances of any particular case. Any
          expression of opinion (which may be subject to change without notice)
          is personal to the author and the author makes no guarantee of any
          sort regarding accuracy or completeness of any information or analysis
          supplied. The author is not responsible for any loss arising from any
          investment based on any perceived recommendation, forecast or any
          other information contained here. The contents of these publications
          should not be construed as an express or implied promise, guarantee or
          implication by the author that clients will profit or that losses in
          connection therewith can or will be limited, from reliance on any
          information set out here. The information expressed herein is current
          and does not constitute an offer, recommendation or solicitation, nor
          does it constitute any prediction of likely future stock performance.
          Investment involves risk. The price of investment instruments can and
          do fluctuate, and any individual instrument may experience upward or
          downward movements, and under certain circumstances may even become
          valueless. Past performance is not a guarantee of future results. In
          preparing this information, we did not take into account the
          investment objectives, financial situation or particular needs of any
          person or affiliated companies. Before making an investment decision,
          you should speak to a financial adviser to consider whether this
          information is appropriate to your needs, objectives and
          circumstances. The author assumes no fiduciary responsibility or
          liability for any consequences financial or otherwise arising from
          trading in securities if opinions and information in this document may
          be relied upon. This transmission is not a digital or electronic
          signature and cannot be used to form, document, or authenticate a
          contract. The author and accepts no liability arising in connection
          with this transmission. Trading risks are magnified by leverage –
          losses can exceed your deposits. Trade only after you have
          acknowledged and accepted the risks. You should carefully consider
          whether trading in leveraged products is appropriate for you based on
          your financial circumstances and seek independent consultation.<br /><br />
          No Endorsement of Third Party Services<br /><br />
          Reference to any third party information (including information
          provided by a third party or accessible through any linked site),
          product, process, or services at this website or any linked site is
          not an express or implied endorsement by the author of the same.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li><a href="/backtest">Start A New Backtest</a></li>
          <br />
          <li><a href="/">View All Backtests</a></li>
          <br />
          <li><a href="/login">Login/Signup</a></li>
          <br />

          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright: Graham James Lim
  </div>
  <!-- Copyright -->
</footer>
