<!-- footer ejs partial -->
<footer
  class="container-fluid page-footer font-small pt-4 border-top"
  style="max-width: 600px"
>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright: Graham James Lim
  </div>
  <!-- Copyright -->
</footer>
