<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Backtester App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/backtest">Start A New Backtest</a></li>
        <li><a href="/">View All Backtests</a></li>
        <li><a href="/login">Login/Signup</a></li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="container jumbotron text-center vertical-center"
  id="jumbotron-3"
  style="max-width: 600px"
>
  <h1 class="display-4"><%= header %></h1>
  <p class="lead"><%= subheader %></p>
</div>
