<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title: 'Terms of Use'}); -%>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/backtests">
                  <span data-feather="bar-chart-2"></span>
                  Backtests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/disclaimer">
                  <span data-feather="file-text"></span>
                  View Terms of Use
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">
                  <span data-feather="users"></span>
                  Login/ Signup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                  <span data-feather="log-out"></span>
                  Logout
                </a>
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Start a new backtest</span>
              <a
                class="link-secondary"
                href="/backtest"
                aria-label="Add a new report"
              >
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
          </div>
        </nav>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Terms of Use</h1>
        </div>
        <div class="container-fluid">
          <p><span lang="EN-US">Local regulatory restrictions&nbsp;</span></p>
          <p>
            <span lang="EN-US"
              >While this website can be accessed worldwide, not everyone should
              or is invited or asked to access this website. As such, the
              information provided and the products and/or services accessible
              through this website are respectively only intended for use by any
              person in any country where such access and/or use would not be
              contrary to local law or regulation. If you choose to access this
              website from any location then you do so on your own initiative
              and at your own risk. It is your sole responsibility to ascertain
              the terms of use and comply with any local law or regulation to
              which you are subjected to.</span
            >
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p><span lang="EN-US">Use of the website</span></p>
          <p>
            <span lang="EN-US"
              >The access and use of any product, service or links on this
              website is expressly subject to the Terms of Use set forth herein.
              If you do not agree with any part of these Terms of Use, you must
              immediately discontinue your access and any use of this website.
              These Terms of Use may change from time to time without notice. By
              continuing to access and/or use any information/ products/services
              available on or through this website, you are agreeing to be bound
              by the current version of the Terms of Use.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >The author of this website ("the Author") disclaims damages or
              injury arising out of your access to, or inability to access, this
              site or from your reliance on any information provided here. The
              Author disclaims any and all liability for direct, indirect,
              incidental, consequential, punitive, and special or other damages,
              lost opportunities, lost profit or any other loss or damages of
              any kind. This limitation includes any damage or virus, which may
              affect your computer equipment.</span
            >
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p><span lang="EN-US">General Information and Circulation</span></p>
          <p>
            <span lang="EN-US"
              >The information and materials provided here, whether or not
              provided on the Author's website/webpages, on third party
              websites, in marketing materials, newsletters or any form of
              publication are provided for general information and circulation
              only.</span
            >
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p><span lang="EN-US">No Recommendation or Advice</span></p>
          <p>
            <span lang="EN-US"
              >None of the information contained here constitutes an offer (or
              solicitation of an offer) to buy or sell any currency, product or
              financial instrument, to make any investment, or to participate in
              any particular trading strategy.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >The Author does not take into account of your personal investment
              objectives, specific investment goals, specific needs or financial
              situation and makes no representation and assumes no liability to
              the accuracy or completeness of the information provided here. The
              information and publications are not intended to be and do not
              constitute financial advice, investment advice, trading advice or
              any other advice or recommendation of any sort offered or endorsed
              by the Author. The Author also does not warrant that such
              information and publications are accurate, up to date or
              applicable to the circumstances of any particular case.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >Any expression of opinion (which may be subject to change without
              notice) is personal to the Author and the Author makes no
              guarantee of any sort regarding accuracy or completeness of any
              information or analysis supplied.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >The Author is responsible for any loss arising from any
              investment based on any perceived recommendation, forecast or any
              other information contained here. The contents of these
              publications should not be construed as an express or implied
              promise, guarantee or implication by the Author that visitors will
              profit or that losses in connection therewith can or will be
              limited, from reliance on any information set out here.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >The information expressed herein is current and does not
              constitute an offer, recommendation or solicitation, nor does it
              constitute any prediction of likely future stock performance.
              Investment involves risk. The price of investment instruments can
              and do fluctuate, and any individual instrument may experience
              upward or downward movements, and under certain circumstances may
              even become valueless. Past performance is not a guarantee of
              future results.In preparing this information, we did not take into
              account the investment objectives, financial situation or
              particular needs of any person or affiliated companies. Before
              making an investment decision, you should speak to a financial
              adviser to consider whether this information is appropriate to
              your needs, objectives and circumstances. The Author&nbsp;assumes
              no fiduciary responsibility or liability for any consequences
              financial or otherwise arising from trading in securities if
              opinions and information in this document may be relied
              upon.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >This transmission is not a digital or electronic signature and
              cannot be used to form, document, or authenticate a contract. The
              Author accepts no liability arising in connection with this
              transmission.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >Trading risks are magnified by leverage – losses can exceed your
              deposits. Trade only after you have acknowledged and accepted the
              risks. You should carefully consider whether trading in leveraged
              products is appropriate for you based on your financial
              circumstances and seek independent consultation.
            </span>
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p><span lang="EN-US">Copyright</span></p>
          <p>
            <span lang="EN-US"
              >The works of authorship contained in this website, including but
              not limited to all designs, texts and images, are owned, except as
              otherwise expressly stated, by the Author, and may not be copied,
              reproduced, transmitted, displayed, performed, distributed,
              rented, sublicensed, altered, stored for subsequent use or
              otherwise used in whole or in part in any manner without the prior
              written consent of the Author.&nbsp;</span
            >
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p>
            <span lang="EN-US"
              >Third party services – Linked Sites and Banners&nbsp;</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >The Author may advertise or may have their products and/or
              services accessible through links or banners. The Author is not
              responsible/liable and does not accept any
              responsibility/liability for the contents of any such banners,
              linked sites or for the products and/or services
              offered/accessible from such banners or linked sites. If you
              decide to act on any such information or offers, you do so
              entirely at your own risk. In particular you agree that if you
              should access such linked sites through clicking on the relevant
              site link(s) on this website, you will then be leaving this
              website and be proceeding on to the linked site where you will be
              subject to the terms of that linked site.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >You furthermore agree that the Author reserves the right to
              monitor your use of the website and that the resultant information
              may be used by the Author for its internal business
              purposes.</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >Any claims arising from these Terms of Use will be governed by
              and construed in accordance with the laws of Singapore and shall
              be subject to the exclusive jurisdiction of the Courts of
              Singapore.</span
            >
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p>
            <span lang="EN-US"
              >No Endorsement of Third Party Services&nbsp;</span
            >
          </p>
          <p>
            <span lang="EN-US"
              >Reference to any third party information (including information
              provided by a third party or accessible through any linked site),
              product, process, or services at this website or any linked site
              is not an express or implied endorsement by the Author of the
              same.&nbsp;</span
            >
          </p>
          <p><span lang="EN-US">&nbsp;</span></p>
          <p><span lang="EN-US">Trademark Disclaimer</span></p>
          <p>
            <span lang="EN-US"
              >All trademarks and registered trademarks are the property of
              their respective owners.&nbsp;</span
            >
          </p>
        </div>
      </div>
      <hr class="featurette-divider" />
      <%- include('partials/footer-no-chart'); -%>
    </main>
  </body>
</html>
