<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title: 'Backtest Homepage'}); -%>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/backtests">
                  <span data-feather="bar-chart-2"></span>
                  Backtests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/disclaimer">
                  <span data-feather="file-text"></span>
                  View Terms of Use
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">
                  <span data-feather="users"></span>
                  Login/ Signup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                  <span data-feather="log-out"></span>
                  Logout
                </a>
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Start a new backtest</span>
              <a
                class="link-secondary"
                href="/backtest"
                aria-label="Add a new report"
              >
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
          </div>
        </nav>
      </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" id="first-image">
            <img
              src="https://previews.123rf.com/images/peshkov/peshkov1903/peshkov190300128/118032033-abstract-forex-chart-on-dark-background-finance-and-invest-concept-3d-rendering.jpg"
              class="d-block w-100"
              alt="..."
            />

            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Backtest a Quant Strategy on Deribit.</h1>
                <p>Sometimes, technical analysis and "hodling" isn't enough.</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="/signup"
                    >Sign up today</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" id="second-image">
            <img
              src="https://image.shutterstock.com/image-photo/dark-street-wet-asphalt-reflections-600w-1590021904.jpg"
              class="d-block w-100"
              alt="..."
            />

            <div class="container">
              <div class="carousel-caption">
                <h1>Discover cointegrated crypto-derivatives.</h1>
                <p>Statistical arbitrage allows market-neutral trading.</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="/backtest"
                    >Run A Backtest Now</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Marketing messaging and featurettes
  ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <!-- /.row -->

      <!-- START THE FEATURETTES -->
      <div class="container">
        <div class="row border-top">
          <div class="col-lg-5 col-md-5 col-sm-12" id="third-image">
            <img
              src="https://media1.giphy.com/media/W5UoBN0YMdT1QP8Yfr/giphy.gif?cid=ecf05e4734sonvgrsd4v0ik6wpb7bxiwrzaul9cdtm0yk9lf&rid=giphy.gif&ct=g"
              class="img-fluid img-thumbnail"
            />
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <h2 class="featurette-heading">
              Powered by APIs, Websockets, Node.js, Chart.js & Pandas.
              <span class="text-muted">Written in ES6 & Python 3.0.</span>
            </h2>
            <p class="lead">
              The app is built on Express, but to actually connect to Deribit,
              API calls are made using Websockets, which is faster than POST/GET
              Requests. Node doesn't really seem to have a strong Data Science
              library, so this Node.js app talks to a local Python script that
              utilizes Pandas. Pandas is helpful here, because we're parsing
              timeseries data as large as > 4800 rows, to check for
              statistically significant arbitrage opportunities. Everything is
              then read back into the Node app, and parsed into SQL tables with
              Postgres so that CRUD operations can be run. Finally, the
              timeseries data produced by each backtest is truncated into a
              sample of only ~100 rows x 2 columns. This prevents big data from
              overwhelming the SQL tables, and allows chart.js to plot legible
              charts, though this comes at the cost of strict graphing accuracy.
            </p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />
      <div class="container">
        <div class="row featurette">
          <div class="col-lg-7 col-md-7 col-sm-12">
            <h2 class="featurette-heading">
              Connect to Deribit,
              <span class="text-muted"
                >one of the World's Largest Crypto-Derivatives Exchanges.</span
              >
            </h2>
            <p class="lead">
              As of January 2022, more than 6,700 BTC, or USD 289,233,120, is
              traded on this exchange. The ample liquidity provides a realistic
              setting to test for mean reverting opportunities in the
              crypto-futures market.
            </p>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12" id="third-image">
            <img
              src="https://themargin.io/wp-content/uploads/2020/07/deribit-2048x1288.png"
              class="img-fluid img-thumbnail"
            />
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
      <!-- /.container -->

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          &copy; 2022 Graham James Lim. &middot;
          <a href="/disclaimer">View Terms</a>
        </p>
      </footer>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
      integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
      crossorigin="anonymous"
    ></script>

    <script>
      /* globals Chart:false, feather:false */
      (function () {
        feather.replace({ "aria-hidden": "true" });
      })();
    </script>
    <script>
      /* globals Chart:false, feather:false */
      (function () {
        feather.replace({ "aria-hidden": "true" });
      })();
    </script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script>
      window.jQuery ||
        document.write(
          '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script> -->
    <script src="../assets/dist/js/bootstrap.min.js"></script>
  </body>
</html>
