<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title: 'Logout Successful'}); -%>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/backtests">
                  <span data-feather="bar-chart-2"></span>
                  Backtests
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/disclaimer">
                  <span data-feather="file-text"></span>
                  View Terms of Use
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">
                  <span data-feather="users"></span>
                  Login/ Signup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/logout">
                  <span data-feather="log-out"></span>
                  Logout
                </a>
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Start a new backtest</span>
              <a
                class="link-secondary"
                href="/backtest"
                aria-label="Add a new report"
              >
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
          </div>
        </nav>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">You've Successfully Logged Out!</h1>
        </div>
        <div class="container" id="form-container" style="max-width: 600px">
          <br />
          <div class="col text-center">
            <a href="/login"> Click here to log back in</a>
          </div>
          <br />
          <div class="col text-center">
            <a href="/signup"> Want to create another account? Sign Up Here </a>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" />

      <%- include('partials/footer-no-chart'); -%>
    </main>
  </body>
</html>
